.benefits {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  @include font(14px, null, 1.14, null);
  text-transform: uppercase;
  color: $blackTextColor;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__list .benefits__item {
  @media screen and (min-width: 768px) {
    --card-item: 2;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    --card-item: 4;
  }
}

.benefits__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondBackgroundColor;
  border-radius: $mainRadius;
}
