.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $mainBackgroundColor;

  & .container {
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  & .social__link {
    color: $whiteTextColor;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $accentColor;
    }
  }

  @media screen and (min-width: 1200px) {
    & .container {
      display: flex;
      align-items: baseline;
      text-align: left;
    }
  }
}

.footer__column:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__column:last-child {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__title {
  margin-bottom: 20px;
  @include font(14px, null, 1.14, null);
  color: $whiteTextColor;
  text-transform: uppercase;
}

.address {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.address__list {
  font-style: normal;

  & .address__item:nth-child(1) {
    color: $whiteTextColor;
  }

  & .address__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.address__contacts {
  transition: color $transitionFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
