.header {
  @include font(null, 500, 1.14, 0.02em);
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }

  .header__logo {
    display: block;
    margin-right: 88px;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}
