.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  min-width: 200px;
  @include font(16px, 700, 1.88, 0.06em);
  box-shadow: $buttonShadow;
  border-radius: $mainRadius;
  border: none;
  cursor: pointer;
  background-color: $accentColor;
  color: $whiteTextColor;
  transition: background-color $transitionFunction;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
