.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  color: $blackTextColor;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transitionFunction;

  &:hover,
  &:focus,
  &--current {
    color: $accentColor;
  }
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accentColor;
}
